.Card .img-fluid {
       max-width: 41%;
       height: auto;
   }
   .Card {
      width: 16rem;
      align-items: center;
      gap: 10px;
      position: relative;
      cursor: pointer;
   }
   .Card .mb-2{
       width: 4rem;

   }
   .Card .m-2{
       min-height: 18rem;
   }
   .Card .primary{
              width: clamp(10px, 50%, 40px);
              height: clamp(10px, 50%, 40px);

              background-color: rgb(255, 255, 255);
              border-radius: 30px;
              border: none;
              color: rgb(178, 178, 179);
              position: absolute;
              bottom: 100px;
              right: 10px;
              border: 1px solid;

   }
   .Card .primary:hover{
   
    background-color: rgb(242, 194, 62);
   

}
.Card .text{
    font-size: clamp(12px,4vw,15px);
}
.Card .badge{
    border-radius: 0;
    margin: 4px;
}

.Card .textType{
    font-size: clamp(12px,4vw,15px);
    color: #1AA5C3;
    font-weight: 1500;
    text-transform: capitalize;

}
   @media (max-width: 768px) {
       .Card {
              width: 10.5rem;
              padding-left: 10px;
           }
           .Card .img-fluid {
              max-width: 40%;
              height: auto;
              margin-right: -10px;
          }
          .Card .text1{
            font-size: clamp(12px,4vw,7px);
        }
        .Card .primary{
            width: clamp(10px, 50%, 38px);
            height: clamp(10px, 50%, 38px);
            bottom: 30px;
            right: 10px;

 }
        
          
   }