.Card .img-fluid {
       max-width: 41%;
       height: auto;
   }
   .Card {
      width: 16rem;
      align-items: center;
      gap: 10px;
      position: relative;
      cursor: pointer;
   }
   .Card .mb-2{
       width: 4rem;

   }
   .Card .m-2{
       min-height: 18rem;
   }
   .Card .primary{
              width: clamp(10px, 50%, 40px);
              height: clamp(10px, 50%, 40px);

              background-color: rgb(227, 225, 225);
              border-radius: 30px;
              border: none;
              color: rgb(178, 178, 179);
              position: absolute;
              bottom: 150px;
              right: 10px;

   }
   .Card .primary:hover{
   
    background-color: rgb(242, 194, 62);
   

}
.Card .text{
    font-size: clamp(12px,4vw,15px);
}

   @media (max-width: 768px) {
       .Card {
              width: 10.5rem;
              padding-left: 10px;
           }
           .Card .img-fluid {
              max-width: 40%;
              height: auto;
              margin-right: -10px;
          }
          .Card .text1{
            font-size: clamp(12px,4vw,7px);
        }
        .Card .primary{
            width: clamp(10px, 50%, 30px);
            height: clamp(10px, 50%, 30px);

 }
        
          
   }