.image-container {
       position: relative;
       display: inline-block;
     }
     
     .delete-button {
       position: absolute;
       top: -14px;
       right: -32px;
       background: rgb(255, 254, 254);
       color: rgb(27, 24, 24);
       border: none;
       border-radius: 50%;
       padding: 0.5rem;
       cursor: pointer;
       width: 4vh;
       align-items: center;
       justify-content: center;
       height:4vh ;

     }
     
     



     .empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.empty-cart-container h1 {
  text-align: center;
}


.mr-2img{
  width: 70px;
}