.LoginBanner {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50vh; /* This makes the container take the full height of the viewport */
       background-color: #CDCDCD
     
   }
   
   .LoginBanner .input {
       width: 500px;
       border-radius: 1px;
   }
   .LoginBanner .form-container .button {
       align-items: center;
       justify-content: center;
       background-color: #1AA5C3;
       border: none;
       border-radius: 1px;
       width: 200px;
       text-transform: capitalize;
   }
   
   .LoginBanner .form-container .btnContainer {
       display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh; /* Full viewport height for demonstration */
   }
   .LoginBanner .form-container .h1Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh; /* Full viewport height for demonstration */
   }

   .LoginBanner   .form-container { /* Correct the class selector to match the new class name */
      
       display: flex;
       flex-direction: column; /* Flex direction column for vertical alignment */
       padding: 0px;
       border-radius: 8px; /* Optional: to make it look better */
   }
   



   @media (max-width: 768px) {
       .LoginBanner {
           flex-direction: column;
           padding: 20px;
       }
       .LoginBanner .input {
        width: 300px;
        
    }
    .LoginBanner .form-container .button {
        width: 80px;
    }
   }
   